<%= form_with(model: transition, url: [@workflow, @transition], local: true) do |f| %>
  <% if transition.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <p>
          <%= pluralize(transition.errors.count, "error") %> prohibited this transition from being saved:
        </p>
      </div>
      <div class="message-body content">
        <ul>
          <% transition.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "label" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "label" %>
    <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
  </div>

  <div class="form-group">
    <%= f.label :trigger_limit, class: "label" %>
    <%= f.text_field :trigger_limit, class: "form-control", placeholder: "Trigger Limit" %>
  </div>

  <div class="form-group">
    <%= f.label :sort_order, class: "label" %>
    <%= f.text_field :sort_order, class: "form-control", placeholder: "Sort Order" %>
  </div>

  <div class="form-group">
    <%= f.label :trigger_type, class: "label" %>
    <%= f.select :trigger_type, Wf::Transition.trigger_types.keys, {}, class: "form-control custom-select", placeholder: "Trigger Type" %>
  </div>

  <div class="form-group">
    <%= f.label :form_id, class: "label" %>
    <%= f.select :form_id, Wf::Form.all.map{|x| [x.name, x.id]}, {include_blank: 'user can input from custom form?'}, class: "form-control custom-select", placeholder: "Trigger Type" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>