<%= form_with(model: transition, url: [@workflow, @transition], local: true) do |f| %>
  <% if transition.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <p>
          <%= pluralize(transition.errors.count, "error") %> prohibited this transition from being saved:
        </p>
      </div>
      <div class="message-body content">
        <ul>
          <% transition.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>

  <div class="card">
  <h5 class="card-header">Basic Information</h5>
    <div class="card-body">
      <div class="form-group">
        <%= f.label :name, class: "label" %>
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
      </div>

      <div class="form-group">
        <%= f.label :description, class: "label" %>
        <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
      </div>

      <div class="form-group">
        <%= f.label :trigger_limit, class: "label" %>
        <%= f.text_field :trigger_limit, class: "form-control", placeholder: "Trigger Limit" %>
      </div>

      <div class="form-group">
        <%= f.label :sort_order, class: "label" %>
        <%= f.text_field :sort_order, class: "form-control", placeholder: "Sort Order" %>
      </div>

      <div class="form-group">
        <%= f.label :trigger_type, class: "label" %>
        <%= f.select :trigger_type, Wf::Transition.trigger_types.keys, {}, class: "form-control custom-select", placeholder: "Trigger Type" %>
      </div>
    </div>
  </div>


  <div class="card">
  <h5 class="card-header">Sub Workflow</h5>
  <div class="card-body">
    <div class="form-group">
      <%= f.label :sub_workflow, class: "label" %>
      <%= f.select :sub_workflow_id, options_for_select(Wf::Workflow.valid.all.map{|x| [x.name, x.id]} || []), {include_blank: 'Start a sub workflow?'}, class: "form-control custom-select", placeholder: "Sub Workflow" %>
    </div>
  </div>

  <div class="card">
  <h5 class="card-header">Dynimac Form</h5>
    <div class="card-body">
      <div class="form-group">
        <%= f.label :form, class: "label" %>
        <%= f.select :form, options_for_select(Wf.form_class.constantize.all.map{|x| [x.name, x.to_global_id]} || [], selected: f.object&.form&.to_global_id), {include_blank: 'user can input from custom form?'}, class: "form-control custom-select", placeholder: "Form" %>
      </div>
    </div>
  </div>

  <div class="card">
  <h5 class="card-header">Callbacks</h5>
    <div class="card-body">

      <div class="form-group">
        <%= f.label :enable_callback, class: "label" %>
        <%= f.select :enable_callback, Wf.enable_callbacks, {}, class: "form-control custom-select", placeholder: "Callback" %>
      </div>

      <div class="form-group">
        <%= f.label :fire_callback, class: "label" %>
        <%= f.select :fire_callback, Wf.fire_callbacks, {}, class: "form-control custom-select", placeholder: "Callback" %>
      </div>

      <div class="form-group">
        <%= f.label :deadline_callback, class: "label" %>
        <%= f.select :deadline_callback, Wf.deadline_callbacks, {}, class: "form-control custom-select", placeholder: "Callback" %>
      </div>

      <div class="form-group">
        <%= f.label :time_callback, class: "label" %>
        <%= f.select :time_callback, Wf.time_callbacks, {}, class: "form-control custom-select", placeholder: "Callback" %>
      </div>

      <div class="form-group">
        <%= f.label :hold_timeout_callback, class: "label" %>
        <%= f.select :hold_timeout_callback, Wf.hold_timeout_callbacks, {}, class: "form-control custom-select", placeholder: "Callback" %>
      </div>

      <div class="form-group">
        <%= f.label :assignment_callback, class: "label" %>
        <%= f.select :assignment_callback, Wf.assignment_callbacks, {}, class: "form-control custom-select", placeholder: "Callback" %>
      </div>

      <div class="form-group">
        <%= f.label :unassignment_callback, class: "label" %>
        <%= f.select :unassignment_callback, Wf.unassignment_callbacks, {}, class: "form-control custom-select", placeholder: "Callback" %>
      </div>

      <div class="form-group">
        <%= f.label :notification_callback, class: "label" %>
        <%= f.select :notification_callback, Wf.notification_callbacks, {}, class: "form-control custom-select", placeholder: "Callback" %>
      </div>
    </div>
  </div>

  <div class="card">
  <h5 class="card-header">Multiple Instances</h5>
    <div class="card-body">
      <div class="form-group">
        <%= f.label :multiple_instance, class: "label" %>
        <%= f.check_box :multiple_instance %>
      </div>
      <div class="form-group">
        <%= f.label :finish_condition, class: "label" %>
        <%= f.select :finish_condition, Wf.finish_conditions, {}, class: "form-control custom-select", placeholder: "Finish_condition" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary", data: {disable_with: 'Waiting...'} %>
  </div>
<% end %>