<div class="card card-body">
 <div class="d-flex  justify-content-between">
   <div><h2>Forms</h2></div>
   <div><%= link_to '+  New Form', new_form_path, class: 'btn btn-primary' %></div>
 </div>
<div>
  <table class="table table-view">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @forms.each do |form| %>
        <tr>
          <td><%= form.id %></td>
          <td><%= link_to form.name, form_path(form) %></td>
          <td><%= form.description %></td>
          <td class="text-right">
            <%= link_to 'Delete Form', form_path(form), method: :delete, data: {confirm: 'confirm?'}, class: 'btn-link btn btn-sm text-danger' %>
            <%= link_to 'Create Field', new_form_field_path(form), class: 'btn btn-link btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <%= paginate @forms, theme: 'twitter-bootstrap-4' %>
</div>
</div>
