<div class="float-left"><h2>Forms</h2></div>
<div class="float-right">
  <%= link_to 'New Form', new_form_path, class: 'btn btn-primary' %>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @forms.each do |form| %>
        <tr>
          <td><%= form.id %></td>
          <td><%= link_to form.name, form_path(form) %></td>
          <td><%= form.description %></td>
          <td>
            <%= link_to 'Delete Form', form_path(form), method: :delete, data: {confirm: 'confirm?'}, class: 'btn-danger btn btn-sm' %>
            <%= link_to 'Create Field', new_workflow_transition_path(form), class: 'btn btn-info btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <%= paginate @forms, theme: 'twitter-bootstrap-4' %>
</div>