<!DOCTYPE html>
<html lang="en">
<head>
  <title>Petri Flow</title>

  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <%= stylesheet_link_tag    "wf/application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "wf/application", "data-turbolinks-track": "reload" %>
</head>
<body>
<%= render "layouts/wf/notice" %>
<%= render "layouts/wf/alert" %>
<%= render "layouts/wf/nav" %>

<main class="container">
  <nav aria-label="breadcrumb">
  <ol class='breadcrumb'>
    <% breadcrumb_trail do |crumb| %>
      <li class="breadcrumb-item <%= crumb.current? ? 'active' : '' %>">
        <%= link_to crumb.name, crumb.url, (crumb.current? ? {'aria-current' => 'page'} : {}) %>
      </li>
    <% end %>
  </ol>
</nav>
  <%= content_for?(:content) ? yield(:content) : yield %>
</main>

<%= render "layouts/wf/footer" %>
</body>
</html>
