<div class="d-flex  justify-content-end">
<% if @workflow.is_valid? %>
    <%= link_to 'New Case', new_workflow_case_path(@workflow), class: 'btn btn-primary mr-2' %>
  <% end %>
  <%= link_to 'Delete Workflow', workflow_path(@workflow), data: {confirm: 'confirm?'}, method: :delete, class: 'btn btn-danger mr-2' %>
  <%= link_to 'Edit Workflow', edit_workflow_path(@workflow), class: 'btn btn-light mr-2' %>
  <%= link_to 'Create Transitions', new_workflow_transition_path(@workflow), class: 'btn btn-light mr-2' %>
  <%= link_to 'Create Places', new_workflow_place_path(@workflow), class: 'btn btn-light mr-2' %>
  <%= link_to 'Create Arcs', new_workflow_arc_path(@workflow), class: 'btn btn-light ' %>
</div>
<div class="card card-body">
  <h2 class="">Workflow Detail</h2>
  <table class="table table-view">
    <tbody>
      <tr>
        <th scope="row">ID</th>
        <td><%= @workflow.id %></td>
      </tr>
      <tr>
        <th scope="row">Name</th>
        <td><%= @workflow.name %></td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td><%= @workflow.description %></td>
      </tr>
      <tr>
        <th scope="row">Is Valid?</th>
        <td><code><%= @workflow.is_valid? %></code></td>
      </tr>

      <tr>
        <th scope="row">Error Msg</th>
        <td><%= @workflow.error_msg %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card card-body">
  <h2>Graph Editor</h2>
  <div class="card">
    <div class="card-body">
      <%=raw @workflow.render_graph %>
    </div>
  </div>
</div>

<div class="card card-body">
  <h2 class="">Cases</h2>
  <table class="table table-view">
    <thead>
      <tr>
        <th scope="col">All</th>
        <th scope="col">Created</th>
        <th scope="col">Active</th>
        <th scope="col">Suspended</th>
        <th scope="col">Canceled</th>
        <th scope="col">Finished</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to @workflow.cases.count, workflow_cases_path(@workflow) %></td>
        <td><%= link_to @workflow.cases.created.count, workflow_cases_path(@workflow, state: :created) %></td>
        <td><%= link_to @workflow.cases.active.count, workflow_cases_path(@workflow, state: :active) %></td>
        <td><%= link_to @workflow.cases.suspended.count, workflow_cases_path(@workflow, state: :suspended) %></td>
        <td><%= link_to @workflow.cases.canceled.count, workflow_cases_path(@workflow, state: :canceled) %></td>
        <td><%= link_to @workflow.cases.finished.count, workflow_cases_path(@workflow, state: :finished) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card card-body">
  <h2>Places</h2>
  <table class="table table-view">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Place Type</th>
        <th scope="col">Sort Order</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @workflow.places.each do |place| %>
        <tr>
          <td><%= place.id %></td>
          <td><%= place.name %></td>
          <td><%= place.description %></td>
          <td><%= place.place_type %></td>
          <td><%= place.sort_order %></td>
          <td class="text-right">
            <%= link_to 'Edit Place', edit_workflow_place_path(@workflow, place), class: 'btn btn-sm btn-link mr-2' %>
            <%= link_to 'Delete Place', [@workflow, place], remote: true, method: :delete, data: {confirm: 'confirm?'}, class: 'btn btn-sm btn-link text-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="card card-body">
  <h2>Transitions</h2>
  <table class="table table-view">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Trigger Limit</th>
        <th scope="col">Trigger Type</th>
        <th scope="col">Sort Order</th>
        <th scope="col">Custom Form</th>
        <th scope='col'> </th>
      </tr>
    </thead>
    <tbody>
      <% @workflow.transitions.each do |transition| %>
        <tr>
          <td><%= transition.id %></td>
          <td><%= transition.name %></td>
          <td><%= transition.description %></td>
          <td><%= transition.trigger_limit %></td>
          <td><%= transition.trigger_type %></td>
          <td><%= transition.sort_order %></td>

          <td>
            <% if transition.form %>
             <%= link_to transition.form.name, form_path(transition.form) %>
            <% else %>
             No Form
            <% end %>
          </td>
          <td><%= link_to 'Edit Transition', edit_workflow_transition_path(@workflow, transition), class: 'btn btn-sm btn-link mr-2' %>
            <%= link_to 'Delete Transition', [@workflow, transition], remote: true, method: :delete, data: {confirm: 'confirm?'}, class: 'btn btn-sm btn-link text-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="card card-body">
  <h2>Arcs</h2>
  <table class="table table-view">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Direction</th>
        <th scope="col">Place</th>
        <th scope="col">Transition</th>
        <th scope="col">Arc Type</th>
        <th scope="col">Guards</th>
        <th scope='col'> </th>
      </tr>
    </thead>
    <tbody>
      <% @workflow.arcs.includes(:transition, :place).each do |arc| %>
        <tr>
          <td><%= link_to arc.id, workflow_arc_path(@workflow, arc) %></td>
          <td><%= link_to arc.name, workflow_arc_path(@workflow, arc) %></td>
          <td><%= arc.direction %></td>
          <td><%= arc.place&.name %></td>
          <td><%= arc.transition&.name %></td>
          <td><code><%= arc.guards.map(&:inspect).join(" & ") %></code></td>
          <td>
            <% if arc.out? %>
              <%= link_to 'Add Gruards', new_arc_guard_path(arc), class: 'btn btn-sm btn-outline-primary mr-2' %>
            <% end %>
          </td>
          <td class="text-right">
            <%= link_to 'Edit Arc', edit_workflow_arc_path(@workflow, arc), class: 'btn btn-sm btn-link mr-2' %>
            <%= link_to 'Delete Arc', [@workflow, arc], remote: true, method: :delete, data: {confirm: 'confirm?'}, class: 'btn btn-sm btn-link text-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
