<div class="float-right">
  <%= link_to 'Edit Workflow', edit_workflow_path(@workflow), class: 'btn btn-primary' %>
  <%= link_to 'Create Transitions', new_workflow_transition_path(@workflow), class: 'btn btn-primary' %>
  <%= link_to 'Create Places', new_workflow_place_path(@workflow), class: 'btn btn-primary' %>
  <%= link_to 'Create Arcs', new_workflow_arc_path(@workflow), class: 'btn btn-primary' %>
</div>
<div>
  <h2>Workflow Detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">ID</th>
        <td><%= @workflow.id %></td>
      </tr>
      <tr>
        <th scope="row">Name</th>
        <td><%= @workflow.name %></td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td><%= @workflow.description %></td>
      </tr>
      <tr>
        <th scope="row">Is Valid?</th>
        <td><%= @workflow.is_valid? %></td>
      </tr>

      <tr>
        <th scope="row">Is Draft?</th>
        <td><%= @workflow.is_draft? %></td>
      </tr>

      <tr>
        <th scope="row">Error Msg</th>
        <td><%= @workflow.error_msg %></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h2>Places</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Place Type</th>
        <th scope="col">Sort Order</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @workflow.places.each do |place| %>
        <tr>
          <td><%= place.id %></td>
          <td><%= place.name %></td>
          <td><%= place.description %></td>
          <td><%= place.place_type %></td>
          <td><%= place.sort_order %></td>
          <td><%= link_to 'Edit Place', edit_workflow_place_path(@workflow, place), class: 'btn btn-sm btn-info' %></td>
          <td><%= link_to 'Delete Place', [@workflow, place], remote: true, method: :delete, data: {confirm: 'confirm?'}, class: 'btn btn-sm btn-info' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <h2>Transitions</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Trigger Limit</th>
        <th scope="col">Trigger Type</th>
        <th scope="col">Sort Order</th>
        <th scope='col'> Actions </th>
      </tr>
    </thead>
    <tbody>
      <% @workflow.transitions.each do |transition| %>
        <tr>
          <td><%= transition.id %></td>
          <td><%= transition.name %></td>
          <td><%= transition.description %></td>
          <td><%= transition.trigger_limit %></td>
          <td><%= transition.trigger_type %></td>
          <td><%= transition.sort_order %></td>
          <td><%= link_to 'Edit Transition', edit_workflow_transition_path(@workflow, transition), class: 'btn btn-sm btn-info' %></td>
          <td><%= link_to 'Delete Transition', [@workflow, transition], remote: true, method: :delete, data: {confirm: 'confirm?'}, class: 'btn btn-sm btn-info' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <h2>Arcs</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Direction</th>
        <th scope="col">Place</th>
        <th scope="col">Transition</th>
        <th scope="col">Arc Type</th>
        <th scope='col'> Actions </th>
      </tr>
    </thead>
    <tbody>
      <% @workflow.arcs.includes(:transition, :place).each do |arc| %>
        <tr>
          <td><%= arc.id %></td>
          <td><%= arc.direction %></td>
          <td><%= arc.place&.name %></td>
          <td><%= arc.transition&.name %></td>
          <td><%= arc.arc_type %></td>
          <td><%= link_to 'Edit Arc', edit_workflow_arc_path(@workflow, arc), class: 'btn btn-sm btn-info' %></td>
          <td><%= link_to 'Delete Arc', [@workflow, arc], remote: true, method: :delete, data: {confirm: 'confirm?'}, class: 'btn btn-sm btn-info' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>